.App{
  width: 100%;
  min-height: 100vh;
  float: left;
  background: #E8EEF2;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
}

.TestForm {
  width: 340px;
    background: #77B6EA;
    /* height: 400px; */
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    position: relative;
    margin: 10px 0;
}
form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  /* color: #C7D3DD; */
    display: block;
    width: 80%;
    height: 35px;
    padding: 8px 5%;
    border: 1px solid #ccc;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
input:focus{
  outline: none;
  border: 1px solid #ccc;
}
.Buttons{
  width: 100%;
  display: flex;
  justify-content: center;
}
button { 
  border: none;
  height: 45px;
  background: #D6C9C9;
  border: 1px solid #D6C9C9;
  margin: 2px;
  width: 45%;
  border-radius: 5px;
  color: #37393A;
  transition: .5s ease all;
  line-height: 20px;
  padding: 5px 0;
  cursor: pointer;
} 
button:hover { 
  background: transparent;
  border: 1px solid #D6C9C9;
  transition: .3s ease all;
} 
button:focus{
  outline: none;
}
.Result {
  margin-top: 20px;
  width: 85%;
}
.Result h3 {
  font-style: italic;
  font-family: system-ui;
}
.Information,.Information:hover {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 5px;
  right: 15px;

  border: none;
  background: none;
  border: none;
  margin: initial;
  border-radius: none;
  transition: .5s ease all;
  line-height: initial;
  padding: 0;
  cursor: pointer;
}
.Information svg{
  fill: rgb(228, 228, 228) ;
}
.Information svg:hover{
  fill: #C7D3DD ;
}
.wrapper{
  width: 85%;
}